@import "tailwindcss";
@import "@8th-dev/ui/styles";

.wordpress-content>*+* {
  margin-top: 1.5rem;
}

.wordpress-content img {
  height: auto;
  max-width: 100%;
}

.wordpress-content ul,
.wordpress-content ol {
  padding-left: 1.5rem;
}

.wordpress-content ul {
  list-style: disc;
}

.wordpress-content ol {
  list-style: decimal;
}